#container{
  background-color: #C0C0C0;
  font: Helvetica, Sans-Serif;
  text-align: left;
  width: 1000px;
  margin: 50px;
  padding: 50px;
}
h1{
    font-weight: bold;
    border-bottom: 2px solid black;
}
h2{
   
}
h3{
    border-bottom: 1px solid black;
}
#title{
  float: left;
}
#date{
  float: right;
}
#company{
  border-bottom: 1px solid black;
}
