#container{
  background-color: #C0C0C0;
  text-align: left;
  width: 1000px;
  margin: 50px;
  border-bottom:2px solid black;
}
#h2{
  font-size: 46px;
  margin-bottom: -10px;
  border-bottom:2px solid black;
  
}

#company{
  border-bottom:2px solid black;
}
